/* Enter your Styles below! */


body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #8fc9cc;
	 }

h1, h2, h3, h4 {
	font-family: 'Nunito', sans-serif;
	color: #8fc9cc;
}

h1 {
	font-size: 48px;
}

.h2 {
	font-weight: 300;
	font-size: 24px;
}

.h3 {
	font-weight:600;
	font-size: 26px;
	padding-bottom: 10px;
}
h4 {
	font-size: 24px;
}

.sub-head {font-weight: 900;
					font size: 50px;
					margin-top: 30px;
					}

blockquote {
	margin: 20px 60px;
	font-family: 'Nunito', sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a {
	color: white;
	text-decoration: none;
	 }
a:hover { color: #fffdcf;}


.home-grid {display: grid;
						grid-template-columns: 60% 40%;
						grid-gap: 40px;
						width: 95%;
						margin: right;}

.home-image {
						width: 200px;
    				height: 300px;
						}

.home-img img {vertical-align: middle;
							width: 100%;
							height: auto;}

.menu-grid {display: grid;
						grid-template-columns: 1fr 1fr;
						grid-gap: 30px;
						width: 90%;
						}

.flavor {}

.flavor-list {margin-bottom: 15px;
							width: 40%;
							text-align: left;
							padding-left: 0px;}

.form-container {width: 90%;}

.logo {width: 90%;
			margin: auto;
		  padding-top: 10px;
		}

header {background-color; white;
				margin-bottom: 5px;}

main {padding: 40px;
			background-color: #fffdcf;
			}

footer {background-color: #8fc9cc;
				font-family: 'Nunito', sans-serif;
				padding: 50px;
				margin: auto;
				color: white;
			  text-align: center;
			  line-height: 20px;
			}

ul {display: inline-inline-block
		position: relative;
		text-align: center;
			background-color: #8fc9cc;
			padding: 15px;
		}

li {display: inline;
				font-family: 'Nunito', sans-serif;
				margin: auto;
				width: 100%;
				padding: 15px;
				color: white;
				text-align: center;
			}

.current-link {color: #fffdcf;}

.specs {margin-top: 30px;}

.specs-style {margin-top: 15px;}

.closed {margin-top: 10px;}

input[type=text], select, textarea {
  width: 25%;
  padding: 12px; /* Some padding */
  border: 3px solid #8fc9cc;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #8fc9cc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]: hover {
  background-color: white;
	color: #8fc9cc;
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/
